@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap');

/*----- these styles will only be used in the create and edit blog area ------ */

/* ----- body styles ------ */
body {
    line-height: 1.5;
}
.container {
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}
/* styles specifically used for navbars --- */
.text-white {
    color: white !important;
}
.navbar-brand {
    font-family: 'Gayathri', sans-serif;
    font-size: 1.75em;
    color: white !important;
}
.navbar {
    border-radius: 0 !important;
    padding: .5rem 1rem;
    line-height: 1.5;
    background-color: #343a40;
}
.navbar-inverse .navbar-nav > li > a{
    font-size: 16px;
    padding-right: .5rem;
    padding-left: .5rem;
    color: rgba(255,255,255,.5);
}
.bg-danger {
    background-color: #dc3545;
}
.logout {
    cursor: pointer;
}

/* ----- styles for alerts ------- */
.alerts {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: 1000;
}

.alert-success {
    background-color: green;
    color: white;
}

.alert-error {
    color: white;
    background-color: red;
}

.alert-warning {
    background-color: orange;
    color: white;
}

.alert-info {
    background-color: cornflowerblue;
    color: white;
}
.icon-alert {
    float: right;
    position: relative;
    top: 5px;
}
.float-right {
    float: right;
}

/* ----- styles for blog create/edit area ------ */
#createBlog{
    margin-bottom: 50px;
}
#createBlog .btn {
    border-radius: 0;
}
#createBlog .btn-primary {
    background-color: #007bff;
}
#createBlog .btn-danger {
    background-color: #dc3545;
}
.thumbnail {
    max-height: 200px;
    margin-bottom: 0 !important;
}
#formUpload {
    flex-direction: column;
    align-items: center;
    margin: auto;
}
/* ------- media queries -------*/
@media screen and (max-width: 768px) {
    .alerts {
        width: 75%;
    }
}


@media screen and (max-width: 540px) {
    .alerts {
        width: 100%;
    }
}
