@import url('https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap');

/* ---- body styles ----- */
* {
    margin: 0;
    padding: 0;
}
/* ---- navbar styles ---- */
.navbar-brand {
    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
}
/* ---- misc styles --- */
.btn {
    border-radius: 0 !important;
}
.inline {
    display: inline-block !important;
}
small {
    font-size: 50%;
}
.tag-background {
    background-color: #343a40;
}
.hidden {
    display: none;
}
.disabled {
    cursor: not-allowed;
}
.center {
    vertical-align: middle;
}

/* ----- styles for alerts ------ */
.alerts {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: 1000;
}
.alert-success {
    background-color: green;
    color: white;
}
.alert-error {
    color: white;
    background-color: red;
}
.alert-warning {
    background-color: orange;
    color: white;
}
.alert-info {
    background-color: cornflowerblue;
    color: white;
}
.icon-alert {
    position: relative;
    top: 5px;
}

/* -- styles for land.html --- */
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.thumbnail {
    max-height: 200px;
}
/* ---- styles for all blogs page --- */

.blog-card {
    max-height: 175px;
}
.card-img {
    height: 100%;
}

/* --- styles for blog detail  --- */
blockquote {
    font-style: italic;
}
ul {
    margin-left: 20px;
}
#tags {
    margin-left: 0 !important;
}
#blog_img {
    max-height: 400px;
}

/* -- styles for side widgets blog detail page -- */
.user-img {
    display: block;
    margin: 0 auto;
    width: 150px;
}
#other-blogs{
    padding: 0;
    margin: 0;
}
#other-blogs li{
    list-style: outside none none;
}
.card {
    border-radius: 0 !important;
}
/* ----- styles for forms ----- */
#email_status,
#pw_status, #fn_status, #ln_status {
    position: absolute;
    font-style: italic;
}

/* ---- media queries to resize things --- */
@media screen and (max-width: 400px) {
    input[type=file] {
        background-color: whitesmoke;
        box-shadow: 1px 1px 1px #dadada;
        border: 1px solid lightgray;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 768px) {
    .alerts {
        width: 75%;
    }
}


@media screen and (max-width: 540px) {
    .alerts {
        width: 100%;
    }
}