<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <title>Blogspot</title>
    <script src="https://kit.fontawesome.com/cf01eb3235.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' with context %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% include 'alerts.html' with context %}
    {%  endwith %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('https://picsum.photos/id/619/1900/1080')">
            <div class="carousel-caption d-none d-md-block">
              <h1>Blog your heart's desire</h1>
              {%  if session['userid'] %}
              <a class="btn btn-primary" href="/blogs/create">Create New Blog</a>
              {%  endif %}
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://picsum.photos/id/1014/6016/4000')">
            <div class="carousel-caption d-none d-md-block">
              <h1>Blog your heart's desire</h1>
              {%  if session['userid'] %}
              <a class="btn btn-primary" href="/blogs/create">Create New Blog</a>
              {%  endif %}
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://picsum.photos/id/1062/5092/3395')">
            <div class="carousel-caption d-none d-md-block">
              <h1>Blog your heart's desire</h1>
              {%  if session['userid'] %}
              <a class="btn btn-primary" href="/blogs/create">Create New Blog</a>
              {%  endif %}
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    <div class="container">
      <h2 class="my-4">Popular Posts
        <small>(Top Three)</small>
      </h2>
      <div class="row">
        {%  for blog in blogs[:3] | sort(attribute='comments', reverse=True) %}
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="/blogs/{{ blog.id }}"><img class="card-img-top thumbnail" src="{%  if blog.pic_filepath %}
                                       {{ url_for('static', filename='img/blogs/' + blog.pic_filepath)}}
                                       {% else %}
                                       http://placehold.it/700x400
                                        {%  endif %}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/blogs/{{ blog.id }}">{{ blog.title }}</a>
              </h4>
              <p class="card-text">
                {%  for tag in blog.blog_has_tags %}
                <a href="/blogs/search/{{ tag.tag.text }}" class="badge badge-primary">{{ tag.tag.text }}</a>
                {%  endfor %}
              </p>
            </div>
          </div>
        </div>
        {%  endfor %}
        <a class="btn btn-sm btn-primary mb-5" href="/blogs">Read More &rarr;</a>
      </div>
    </div>
    {%  include 'modal.html' without context %}
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  </body>

</html>
